*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    cursor: pointer;
}

.logo{
    font-size: 45px;
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

header{
    background-color: #FFF8F3 ;
    background: url(/images/developer.png), url(/images/header_bg.png), #FFF8F3; 
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    display: flex;
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

#banner{
    display: flex;
    margin: 0px 38px 0px 210px;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;

}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 70px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 5px;
}

.banner-img img{
    max-width: 585px;
    vertical-align: middle;
}