*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    cursor: pointer;
}

.logo{
    font-size: 45px;
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

header{
    background-color: #FFF8F3 ;
    background: url(./images/developer.png), url(./images/header_bg.png), #FFF8F3; 
    background-position: top 38px left 23px , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    display: flex;
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

#banner{
    display: flex;
    margin: 0px 38px 0px 210px;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;

}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 70px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 5px;
}

.banner-img img{
    max-width: 585px;
    vertical-align: middle;
}

.about{
    padding: 100px 230px;
}

.about-container{
    border-radius: 5px;
    border: 1px solid #757575;
    background-color: #FFF8F3;
    padding: 130px 155px;
    text-align: center;
    
}

.section-heading{
    justify-content: center;
}

.section-heading h4{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-info{
    display: flex;
    justify-content: space-between;
}

.info-card{
    line-height: 30px;
}

.info-card p{
    font-size: 20px;
    color: #757575;
}

.info-card h4{
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

.wid-heading{
    text-align: center;
}

.wid-heading h6{
    font-size: 35px;
    margin-bottom: 30px;
}

.wid-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 827px;
    margin: auto;
    margin-bottom: 30px;
}

.exp-container{
    display: flex;
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 24px;
}

.exp-info{
    box-shadow: 0 6px 50px 0px #00000027;
    padding: 30px;
    border-radius: 5px;
    max-width: 267px;
}

.exp-info img {
    max-width: 44px;
    margin-bottom: 30px;
}

.exp-info h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.exp-info p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.resume-container{
    justify-content: center;
}

.title{
    margin-top: 130px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.info-container{
    display: flex;
    margin: 113px auto 0px;
    max-width: 1140px;
    width: 71%;
    gap: 24px;
}

.res-info{
    width: 511px;
    margin-right: 47px;
}

.res-info h5{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.res-info h6{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.res-info p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.sec-title{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #474747;
}

.footer{
background-color: #FFF8F3;
margin-top: 113px;
padding: 130px 0px;
}

.foter-container{
    display: flex;
    margin: 0px auto;
    max-width: 1140px;
    width: 71%;
    gap: 117px;
    
}

.footer-form form input[type="text"]{
    width: 461px;
    padding: 18px 30px ;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}

.footer-form form input[type="email"], .footer-form form textarea{
    width: 461px;
    padding: 18px 30px ;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}

.footer-info h4, .footer-form h4{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 25px;
}

.footer-icon img{
    margin-right: 24px;
}

.footer-info p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}