

.site-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;
 background-color: #0f172a; 
 position: sticky;
}

.main-menu ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.main-menu ul li{
color: #cbdf5f;
text-decoration: none;
font-size: 16px;
transition: 0.3s;
}

.main-menu ul li:hover{
    color: blueviolet;
}

form .feedbackone label{
display: block;
}

form .feedbackone{
    size: 100%;
}

.hero{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 25px;
}

.hero img {
    border: 1px solid chocolate;
    border-radius: 15px;
    height: 300px;
    width: 300px;

}